<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Car Dealz</title>
</head>
<body>
    <div class="container mt-2">
        <div class="header d-flex justify-content-between align-items-center">
            <h1>Welcome to Car Dealz, {{user.first_name}}</h1>
            <a href="/logout"><button class="btn btn-primary">Logout</button></a>
        </div>
        <br>
        <h1>Cars for Sale</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Seller</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in all %}
                <tr>
                    <td>{{car.model}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.users.first_name}}</td>
                    {% if user.id == car.users.id %}
                    <td><a href="/edit_car/{{car.id}}">edit</a> | <a href="/delete_car/{{car.id}}">delete</a></td>
                    {% else %}
                    <td><a href="/view_car/{{car.id}}">view</a></td>
                    {% endif %}
                </tr>
                {%  endfor %}
            </tbody>
        </table>
        <br>
        <a href="/add_car"><button class="btn btn-primary">Add A Car</button></a>
    </div>
</body>
</html>