<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Car Dealz</title>
</head>
<body>
    <div class="container mt-2">
        <div class="header d-flex justify-content-between align-items-center">
            <h1>Put Car Up for Sale</h1>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="navigations">
                <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
                <a href="/logout"><button class="btn btn-primary">Logout</button></a>
            </div>
        </div>
        <form action="/update_car/{{car.id}}" method="post">
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" name="price" class="form-control" value="{{car.price}}">
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" name="model" class="form-control" value="{{car.model}}">
            </div>
            <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" name="make" class="form-control" value="{{car.make}}">
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="number" name="year" class="form-control" value="{{car.year}}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control">{{car.description}}</textarea>
            </div>
            <br>
            <button class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>