.container {
    margin: 50px auto;
    padding: 0px;
    width: 920px;
}

.total {
    display: flex;
    align-items: center;
}

.gold {
    border: 1px solid black;
    margin-left: 20px;
    padding-left: 5px;
    width: 150px;
}

.selection {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.options {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    height: 200px;
    width: 200px;
}

.log {
    border: 1px solid black;
    height: 200px;
    width: 920px;
    overflow: auto;
}
