<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <div class="container mt-2">
        <div class="header d-flex justify-content-between align-items-center mb-2">
            <h1>Welcome, {{user.first_name}}</h1>
            <a href="/dashboard">back to recipes</a>
            <a href="/logout">logout</a>
        </div>
        <div class="recipe d-flex justify-content-between align-items-center mb-2">
            <h2>{{recipe.name}}</h2>
            <p>Posted by: {{recipe.user.first_name}}</p>
        </div>
        <div class="border">
            <div class="col">
                <p>Description: {{recipe.description}}</p>
                <p>Under 30 Minutes? {{recipe.under | capitalize}}</p>
                <p>Instructions: {{recipe.instructions}}</p>
                <p>Date Made: {{recipe.date_made}}</p>
            </div>
        </div>
    </div>
</body>
</html>