<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 1</title>
</head>
<style>
    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 850px;
    }
    
    h1 {
        text-align: center;
    }

    .box {
        border: 1px solid black;
        height: 150px;
        width: 150px;
    }
</style>
<body>
    <h1>Welcome!</h1>
    <div id="container">
        {% for i in range(0,num) %}
        <p class="box" style="background-color: {{color}};"></p>
        {% endfor %}
    </div>
</body>
</html>